<main class="mx-auto flex min-h-screen w-full items-center justify-center dark:bg-gray-900 bg-slate-300 text-black dark:text-white relative">
    <i (click)="toggleDarkMode()" class="fa-solid absolute top-5 right-5" [class]="isDarkMode ? 'fa-moon dark:text-white' : 'fa-sun text-gray-900'"></i>
    
    <form (submit)="login()" class="flex w-[30rem] flex-col space-y-8 p-5 drop-shadow-2xl  dark:bg-gray-800 bg-gray-100 rounded-md dark:shadow-gray-300/50">
        <div class="w-full flex items-center justify-center ">
            <img *ngIf="!isDarkMode"  src="assets/images/logo1.png" class="pt-3 w-44" alt="Logo">
            <img *ngIf="isDarkMode" src="assets/images/logo2.png" class="pt-3 w-44" alt="Logo">
        </div>
        <!-- <div class="text-center text-2xl text-gray-600" style="font-weight: 600; margin-top: 5px !important;">Log In</div> -->

        <div class="w-full transform border-b-2 bg-transparent text-md duration-300 focus-within:border-indigo-500">
            <input type="text" name="username" placeholder="Username" [(ngModel)]="userData.username"
                class="w-full border-none px-2 bg-transparent outline-none placeholder:italic focus:outline-none" />
        </div>

        <div class="w-full transform border-b-2 bg-transparent text-md duration-300 focus-within:border-indigo-500">
            <input type="password" name="password" placeholder="Password" [(ngModel)]="userData.password"
                class="w-full border-none px-2 bg-transparent outline-none placeholder:italic focus:outline-none" />
        </div>

        <button  type="submit" class="transform rounded-sm bg-blue-950 text-white py-2 font-bold duration-300 hover:bg-blue-900">
            LOG IN
        </button>

        <p class="text-center text-sm text-slate-500">
            Contact your administrator
        </p>
    </form>
</main>
