@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

p, h1,h2,h3,h4,h5, small, strong, a, li,option,select,label, form ,div, html, body, span, button, input, textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

// html {
//     transition: background-color 0.3s, color 0.3s;
//     background-color: #e9e9e9;
//   }


  .loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #001062;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-left: 3px solid #0073ff;
    border-bottom: 3px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 